/* GENERAL FORM AND LOGIN PAGE*/
.form {
    width: 100%;
    height: 100vh;   
}

.form h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 0.65em;
    color: #F89A36;
    font-weight: 500;
}

.form p {
    margin-top: 20px;
    text-align: center;
}

.form a {
    color: #3F20FF;
}


.form .email-label, .contraseña-label {
    display: flex;
    margin-left: 3em;
}

.form .rememberMe-label {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 3em;
}

.form input {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #767676;
    width: 90%;
    font-size: 1.2em;
}

.form input:hover {
    background: #EFF4FD;
    border: 1px solid #0066A1;
}

.form input:focus {
    outline: none;
}

.form input[type="password"] {
    letter-spacing: 0.2em;
}

.form button {
    background-color: #F89A36;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
    font-size: 1.2em;
    margin: 1em;
}



/* TITLE PAGE*/
.registerPortada {
    color: #F89A36;
    background-color: #0066A1;
    height: 100vh;
}

.registerPortada h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 15%;
}

.registerPortada h4 {
    font-size: 1.2em;
    margin: 1em;
}

.registerPortada h5 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-right: 10px;
}

.registerPortada img {
    width: 70%;
    margin: 1em;
    margin-left: 15%;
}

/* REGISTER PAGE*/
.register {
    width: 100%;
    height: 100vh;   
}

.register h1 {
    font-size: 2.6em;
    text-align: center;
    margin-top: 2.6em;
    margin-bottom: 0.65em;
    color: #F89A36;
    font-weight: 500;
}

.register p {
    margin-top: 20px;
    text-align: center;
}

.register a {
    color: #3F20FF;
}

.register label {
    display: flex;
    margin-left: 3em;
    margin-bottom: 5px;
    align-items: center;
    justify-content: justify;
}

.register input[type="radio"] {
    margin-right: 5px;
}

.register input[type="checkbox"] {
    margin-right: 5px;
}

.register input {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #767676;
    width: 90%;
    font-size: 1.2em;
}

.register input:hover {
    background: #EFF4FD;
    border: 1px solid #0066A1;
}

.register input:focus {
    outline: none;
}

.register input[type="password"] {
    letter-spacing: 0.2em;
}

.register button {
    background-color: #F89A36;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
    font-size: 1.2em;
    margin: 1em;
}

/* Edit User */
.editUser {
    width: 100%;
    height: 100vh;   
}

.editUser h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.65em;
    color: #F89A36;
    font-weight: 500;
}

.editUser p {
    margin-top: 20px;
    text-align: center;
}

.editUser a {
    color: #3F20FF;
}

.editUser label {
    display: flex;
    margin-left: 3em;
    margin-bottom: 5px;
    align-items: center;
    justify-content: justify;
}

.editUser input[type="radio"] {
    margin-right: 5px;
}

.editUser input[type="checkbox"] {
    margin-right: 5px;
}

.editUser input {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #767676;
    width: 90%;
    font-size: 1.2em;
}

.editUser input:hover {
    background: #EFF4FD;
    border: 1px solid #0066A1;
}

.editUser input:focus {
    outline: none;
}

.editUser input[type="password"] {
    letter-spacing: 0.2em;
}

.editUser button {
    background-color: #F89A36;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
    font-size: 1.2em;
    margin: 1em;
}
    
@media only screen and (max-width: 767px) {

    .registerPortada {
        display: none;
    }

    .form {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #0066A1;
    }

    .form h1 {
        font-size: 1.5em;
        text-align: center;
        margin-top: 15%;
        margin-bottom: 0.65em;
        color: #F89A36;
        font-weight: 500;
    }

    .form p {
        font-size: 0.9em;
        text-align: center;
        margin-top: 15%;
        margin-bottom: 0.65em;
        color: #FFFFFF;
    }
    
    .form .email-label {
        display: flex;
        font-size: 1em;
        color: #FFFFFF;
        margin-left: 1.3em;
    }

    .form .contraseña-label {
        display: flex;
        font-size: 1em;
        color: #FFFFFF;
        margin-left: 1.3em;
    }
    
    .form .rememberMe-label {
        display: flex;
        align-items: left;
        justify-content: left;
        font-size: 1em;
        color: #FFFFFF;
        margin-right: 18.6em;
        
    }
    
    .form input {
        margin-bottom: 1em;
        background-color: #FFFFFF;
        padding: 0.5em;
        border-radius: 10px;
        border: 1px solid #767676;
        width: flex;
        font-size: 1em;
    }
    
    .form input:hover {
        background: #EFF4FD;
        border: 1px solid #0066A1;
    }
    
    .form input:focus {
        outline: none;
    }
    
    .form input[type="password"] {
        letter-spacing: 0.2em;
    }
    
    .form button {
        background-color: #F89A36;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        width: 90%;
        cursor: pointer;
        font-size: 1em;
        margin: 1em;
    }

    .register {
        background-color: #0066A1;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .register h1 {
        font-size: 2em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0.65em;
        color: #F89A36;
        font-weight: 500;
    }

    .register p {
        font-size: 0.9em;
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0.65em;
        color: #FFFFFF;
    }

    .register label {
        display: flex;
        font-size: 1em;
        color: #FFFFFF;
        margin-left: 1.3em;
    }

    .register input {
        margin-bottom: 0.5em;
        color: #000000;
        background-color: #FFFFFF;
        padding: 0.5em;
        border-radius: 10px;
        border: 1px solid #767676;
        width: flex;
        font-size: 1em;
    }
    
    .register input:hover {
        background: #EFF4FD;
        border: 1px solid #0066A1;
    }
    
    .register input:focus {
        outline: none;
    }
    
    .register input[type="password"] {
        letter-spacing: 0.2em;
    }
    
    .register button {
        background-color: #F89A36;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        width: 90%;
        cursor: pointer;
        font-size: 1em;
        margin: 1em;
    }

}



