.scrollbox h1 {
    font-size: 24px;
    font-weight: 700;
}
.scrollbox h2 {
    font-size: 18px;
}

.scrollbox h3 {
    font-size: 12px;
}

.scrollbox {
    height: 600px;
    overflow: auto;
    width: 60%;
    float: left;
}

.filtros {
    background-color: gray;
    float: left;
    flex-direction: column;
    width: 40%;
}

.info h1, h2, h3 {
    padding-bottom: 0.4em;
}