/*NotFound Page*/

.errorPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Cabecera */
#cabecera {
    background-color: #0191CE;
    height: 7em;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.lefticon{
  float:left;
  margin: 1em;
}

nav a{
  font-weight: bold;
  margin: 1em;
  text-decoration: none;
  color: white ;
}

a:focus{
    color: orange;
}

.username{
    color: white;
    text-align:center;
}


.scroll-box {
  width: 70%;
  height: 25em;
  overflow: scroll;
  display: flex;
  overflow-x: hidden;
  margin: 1%;
  background-color: #F0F0F0;
  border-radius: 10px;
  flex-direction: column;
  float: left;
  scrollbar-width: thin;
}
.search_asignaturas{
  background-color: #F0F0F0;
  justify-content: center;
  float:right;
  margin: 1%;
  width: 25%;
  height: 25em;
  overflow: auto;
}

.nav_search {
  height: 15%;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 20% 80%;  
  align-items: center;
  
}
.nav_search i{
  float:left;
}
.centralnav{
  text-align: center;
}

 #subjectname{
    align-items: center;
    padding: 0.5em;
    text-align: center;
 }

 #atributos_subject{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50% 50%;
  gap: 0.1em;
  width: 100%;
  height: 30%;
  text-align: center;
  align-items: center;
  justify-items: start;
  justify-content: space-around;
 }

 .profesorado {
  width: 100%;
  height: 5em;
 }

/*ScrollBar*/

#resultSearch{
  max-height: 85%;
  overflow: auto;
}
/* Cambiar el ancho y el color de la barra de desplazamiento */
.scroll-box::-webkit-scrollbar {
  height: 100;
  width: 10px;
}

.scroll-box::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.scroll-box::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}

.scroll-box::-webkit-scrollbar-thumb:active {
  background: #818181;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: #f2f2f2;
}

::-webkit-scrollbar-button:start:decrement {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

::-webkit-scrollbar-button:end:increment {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Profesoado */ 

#atributos_teacher{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto ;
  gap: 0.1em;
  width: 100%;
  height: 30%;
  text-align: center;
}

#teachername{
  align-items: center;
  padding: 0.5em;
  text-align: center;}

.search_profesores{
  background-color: #F0F0F0;
  justify-content: center;
  float:right;
  margin: 1%;
  width: 25%;
  height: 25em;
}

.leftBox {
  float: left;
  display: flex;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  bottom: 0;
}

.footer h1 {
  font-size: 18px;
  margin: 0;
  padding: 0 10px;
  color: orange;
  
}

.footer a {
  text-decoration: none;
  color: blue;
}

.footer a:hover {
  color: #ccc;
}

.footer svg {
  width: 24px;
  height: 24px;
  fill: blue;
  margin: 0 10px;
}

.footer img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputBuscar{
  width: 50% !important;
}

table{
  min-width: 500px;
}

.containerInput{
  align-items: end;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}

@media (max-width: 988px){
  
  .inputBuscar{
    width: 100% !important;
  }

  .App{
    padding: 40px 5px;
  }

  
.containerInput{
  padding-bottom: 15px;
}
}